.contact-form select{
    display: block;
    margin: 0.3rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding: 0.25rem 0.35rem;
    border-radius: 0.15rem;
}

.dropdown_option:hover,
.dropdown_option.hover {
    background-color: red;
}
