.contact-form select{
    display: block;
    border: none;
    padding: 0.35rem;
}

#case-types {
    margin: 1.5rem 0rem;
    border-radius: 0.15rem;
}

#contact-dropdown-form {
    box-shadow: none;
}

.contact-form option {
    background-color: black;
    color: whitesmoke;
    border-radius: 0.15rem;
}

.contact-form option:hover,
.contact-form option.hover {
    color: red;
    background-color: black;
}
